<!DOCTYPE html>
        <head>
            <title><%= full_title(yield(:title)) %></title>
        </head>

    <% provide(:title, @entry.title) %>
    <div id="row-entry">
        <aside id="left-scroll">
            <section class="journal_info">
                <h1>
                    <br>
                    <%= @entry.title %>
                </h1>
                <h2>
                    Entry by
                    <%=  link_to "#{@entry.journal.user.firstname} #{@entry.journal.user.lastname}", @entry.journal.user%>
                    <br>
                </h2>
                <p>
                    <%= @entry.content %>
                    <br>
                    <br>
                    <% if current_user == @entry.journal.user %>
                        <%= link_to "edit", edit_entry_path(@entry) %>
                        <%= link_to "delete", @entry, method: :delete,
                        data: { confirm: "This entry will be permanently deleted." } %>
                    <%end%>
                </p>
            </section>
        </aside>
        <div id="right-scroll">
        <br>
        <br>
            <% if current_user != @entry.journal.user %>
                <section>
                    <%= render 'shared/correction_form' %>
                </section>
                <br>
                <br>
            <%end%>
            <% if @entry.corrections.count > 0 %>
                <h3>Corrections (<%= @entry.corrections.count %>)</h3>
                <ol class="corrections">
                    <%= render @corrections %>
                </ol>
            <% else %>
                No corrections yet.
            <% end %>
        </div>
    </div>
</html>