<!DOCTYPE html>
        <head>
            <title><%= full_title(yield(:title)) %></title>
        </head>

    <% provide(:title, @entry.title) %>
    <div id="row-entry">
        <aside id="left-scroll">
            <section class="w3-container">
                <br>
                <br>
                <div class="tiny-avatar">
                    <%= avatar_for(@entry.journal.user) %>
                </div>
                <div class="entry-title">
                    <%= @entry.title %>
                </div>
                <div class="entry-particulars">
                    entry by
                    <%=  link_to "#{@entry.journal.user.firstname} #{@entry.journal.user.lastname}", @entry.journal.user%>
                    ·   
                    posted <%= time_ago_in_words(@entry.created_at) %> ago
                    <br>
                    <br>
                </div>
                <div class="entry-content">
                    <%= @entry.content %>
                    <br>
                    <br>
                </div>
                <div class="entry-particulars">
                    <% if current_user == @entry.journal.user %>
                        <%= link_to "edit", edit_entry_path(@entry) %> /
                        <%= link_to "delete", @entry, method: :delete,
                        data: { confirm: "This entry will be permanently deleted." } %>
                    <%end%>
                </div>
            </section>
        </aside>
        <div id="right-scroll">
        <br>
            <% if current_user != @entry.journal.user %>
                <section>
                    <%= render 'shared/correction_form' %>
                </section>
                <br>
                <br>
            <%end%>
            <% if @entry.corrections.count > 0 %>
                <h3>Corrections (<%= @entry.corrections.count %>)</h3>
                <ol class="corrections">
                    <%= render @corrections %>
                </ol>
            <% else %>
                <div class = "no-corrections">
                    <br>
                    No corrections yet.
                </div>
            <% end %>
        </div>
    </div>
</html>