<% provide(:title, "") %>
<!DOCTYPE html>
    <html>
        <head>
          <title><%= full_title(yield(:title)) %>></title>
        </head>
        <body>
        <p>
          <div class ="text-field">
            <%= form.label :firstname, 'First Name' %>
            <%= form.text_field :firstname %>
          </div>

          <div class ="text-field">
            <%= form.label :lastname, 'Last Name' %>
            <%= form.text_field :lastname %>
          </div>

          <div class="text-field">
            <%= form.label :email %>
            <%= form.text_field :email, type: 'email' %>
          </div>

          <div class="password-field">
            <%= form.label :password %>
            <%= form.password_field :password %>
          </div> <br />

          <div>
            <%= form.label :language, 'Languages spoken' %>
            <%= form.select :temp_id, [['English', 1], ['French', 2], ['German', 3], 
              ['Spanish', 4], ['Korean', 5]], {}, {class: 'collection-select-class'} %>
            <%= form.select :f_temp_id, [['Beginner', 1], ['Elementary', 2], ['Intermediate', 3],
              ['Upper Intermediate', 4], ['Advanced', 5], ['Native Speaker', 6]], {}, {class: 'collection-select-class'} %>
          </div>
        </body>
      <br>
    </html>