<% provide(:title, "") %>
<!DOCTYPE html>
    <html>
        <head>
          <title><%= full_title(yield(:title)) %>></title>
        </head>
        <body>
        <p>
        <div class ="user-edit-field">
        <%= form.label :firstname, 'First Name' %>
            <%= form.text_field :firstname %>
          </div>

          <div class ="user-edit-field">
            <%= form.label :lastname, 'Last Name' %>
            <%= form.text_field :lastname %>
          </div>

          <div class ="user-edit-field">
            <%= form.label :email, 'Email' %>
            <%= form.text_field :email, type: 'email' %>
          </div>

          <div class ="user-edit-field">
            <%= form.label :password %>
            <%= form.password_field :password %>
          </div> <br />

          <div class ="user-edit-field">
            <%= form.label :temp_id, 'Language to Learn' %>
            <%= form.select :temp_id, [['Arabic', 1], ['Bahasa Indonesia', 2], ['Chinese', 3], 
              ['French', 4], ['German', 5], ['Hindi', 6], ['Japanese', 7], 
              ['Korean', 8], ['Malay', 9], ['Spanish', 10], ['Tamil', 11], ['Thai', 12],
              ['Vietnamese', 13],], {}, {class: 'collection-select-class'} %>
            <%= form.select :f_temp_id, [['Beginner', 1], ['Elementary', 2], ['Lower Intermediate', 3],
              ['Upper Intermediate', 4], ['Advanced', 5], ['Full Proficiency', 6]], {}, {class: 'collection-select-class'} %>
          </div>
        </body>
      <br>
    </html>
