<% provide(:title, "") %>
<!DOCTYPE html>
    <html>
        <head>
                <title><%= full_title(yield(:title)) %>></title>
        </head>
        <body>
        <p>
          <div class ="text-field">
            <%= form.label :firstname, 'First Name' %>
            <%= form.text_field :firstname %>
          </div>

          <div class ="text-field">
            <%= form.label :lastname, 'Last Name' %>
            <%= form.text_field :lastname %>
          </div>

          <div class="text-field">
            <%= form.label :email %>
            <%= form.text_field :email, type: 'email' %>
          </div>

          <div class="password-field">
            <%= form.label :password %>
            <%= form.password_field :password %>
          </div> <br />

          <div>
            <%= form.label :language, 'Languages spoken' %>
            <%= form.collection_select(:language_ids, Language.all, :id, :lang, 
              {include_blank: true}, {class: 'collection-select-class'}) %>
          </div>
        </body>
      <br>
    </html>