<html>
    <head>
        <% provide(:title, "edit user") %>
        <h1>update <%= current_user.lastname %>'s profile</h1>
    </head>

    <body>

        <%= form_with(model: @user, local: true) do |f| %>
            <table summary="Edit user form fields">
    
            <div class ="text-field">
                <label>
                    <%= f.label :firstname, 'First Name' %>
                </label>
                <%= f.text_field :firstname %></td>
            </div>

            <div class ="text-field">
                <label>
                    <%= f.label :lastname, 'Last Name' %>
                </label>
                <%= f.text_field :lastname %>
            </div>

            <div class ="text-field">
                <label>
                    <%= f.label :email, 'Email' %>
                </label>
                <%= f.email_field :email %>
            </div>

            <div class ="text-field">
                <label>
                    <%= f.label :password, 'Password' %>
                </label>
                <%= f.password_field :password %>
            </div>

            <div>
                <%= f.label :language, 'Languages spoken' %>
                <%= f.collection_check_boxes(:language_ids, Language.all, :id, :lang) do |b| %>
                    <%= b.label class:"label-checkbox" do%> 
                    <%= b.check_box + "     " + b.text %> 
                    <%= b.text_field :fluency %>
                    <%end%> 
                <% end %>
            </div>

            <br>
            <%= f.submit "Update User" %>
        <% end %>
    </body>
</html>