<html>
<head>
    <% provide(:title, "edit user") %>
    <h1>update <%= current_user.lastname %>'s profile</h1>
</head>

<body>

    <%= form_with(model: @user, local: true) do |f| %>
        <table summary="Edit user form fields">
    
        <div class ="text-field">
            <%= f.label :firstname, 'First Name ' %>
            <%= f.text_field :firstname %></td>
        </div>

        <div class ="text-field">
            <%= f.label :lastname, 'Last Name ' %>
            <%= f.text_field :lastname %>
        </div>

        <div class ="text-field">
            <%= f.label :email, 'Email ' %>
            <%= f.email_field :email %>
        </div>

        <div class ="text-field">
            <%= f.label :password, 'Password ' %>
            <%= f.password_field :password %>
        </div>

    </body>
    <br>
        <%= f.submit "Update User" %>
    <% end %>
    </div>
</html>