<% provide(:title, @user.firstname) %>
<!DOCTYPE html>
    <html>
        <head>
            <title><%= full_title(yield(:title)) %></title>
        </head>
        <div class="row">
            <aside class="col-md-4">
                <section class="user_info">
                    <h1>
                        <%= avatar_for(@user)%>
                        <%= @user.firstname %> 
                        <%= @user.lastname %> 
                    </h1>
                    <span>
                    <h2>
                        <% @user.languages.each do |l| %>
                            <%= l.lang %>
                        <% end %>
                        <% @user.fluencies.each do |l| %>
                            <% if l.level == 1 %>
                                <%= "(Beginner)" %>
                            <% elsif l.level == 2 %>
                                <%= "(Lower Intemediate)" %>
                            <% elsif l.level == 3 %>
                                <%= "(Upper Intermediate)" %>
                            <% elsif l.level == 4 %>
                                <%= "(Advanced)" %>
                            <% else %>
                                <%= "(Full Proficiency)" %>
                            <%end%>
                        <% end %>
                    </h2>
                    </span>
                    <p>
                        <span><%= pluralize(@user.entries.count, "journal entries") %></span>
                        <span><%= pluralize(@user.forumposts.count, "forum threads") %></span>
                    </p>
                </section>
            </aside>
            <div class="col-md-8">
                <h3>Journals (<%= @user.journals.count %>)</h3>
                <% if @user.journals.any? %>
                    <ol class="journals">
                        <%= render @journals %>
                    </ol>
                    <%= will_paginate @journals %>
                <% end %>
            </div>
        </div>
        <body>
        </body>
    </html>