<! -- page needs serious debugging --> 

<% provide(:title, @title) %>
<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
            <h1><%= @user.firstname %></h1>
            <span><%= link_to "view my profile", @user %></span>
            <span><b>Posts:</b> <%= @user.forumposts.count %></span>
        </section>
        <section class="stats">
            <%= render 'shared/stats' %>
        </section>
    </aside>
    <div class="col-md-8">
        <h3><%= @title %></h3>
        <% if @users.any? %>
            <ul class="user_info">
            <section class="user_info">
            <% @users.each do |user| %>
                <section class="user_info">
                <h2>
                    <%= avatar_for(user) %>
                    <%=  link_to "#{user.firstname} #{user.lastname}", user%>
                </h2>
                <span>
                <h2>
                    Language: 
                    <% user.languages.each do |l| %>
                        <%= l.lang %>
                    <% end %>
                    <% user.fluencies.each do |l| %>
                        <% if l.level == 1 %>
                            <%= "(Beginner)" %>
                        <% elsif l.level == 2 %>
                            <%= "(Lower Intemediate)" %>
                        <% elsif l.level == 3 %>
                            <%= "(Upper Intermediate)" %>
                        <% elsif l.level == 4 %>
                            <%= "(Advanced)" %>
                        <% else %>
                            <%= "(Full Proficiency)" %>
                        <%end%>
                    <% end %>
                    </span>
                </h2>
                <p>
                    <span><%= pluralize(user.entries.count, "journal entries") %></span>
                    <span><%= pluralize(user.forumposts.count, "forum threads") %></span>
                </p>
            <% end %>
            <%= will_paginate %>
        <% end %>
    </div>
</div>
