<% provide(:title, @user.firstname) %>
<!DOCTYPE html>
    <html>
        <head>
            <title><%= full_title(yield(:title)) %></title>
        </head>
        <div class="row">
            <aside class="col-md-4">
                <section class="user_info">
                    <br>
                    <br>
                    <br>
                    <%= render partial: 'shared/other_user_info', locals: {user: @user} %>
                </section>
                <%= render 'users/follow_form' if logged_in? %>
            </aside>
            <div class="col-md-8">
                <h3>Journals (<%= @user.journals.count %>)</h3>
                <% if @user.journals.any? %>
                    <ol class="journals">
                        <%= render @journals %>
                    </ol>
                    <%= will_paginate @journals %>
                <% end %>
            </div>
        </div>
        <body>
        </body>
    </html>