<h3>Title</h3>
    <span class="title"><%= @forumpost.title %></span>
</div>
<div>
    <h3>Content</h3>
    <span class="content"><%= @forumpost.content %></span>
</div>
<%= form_for ([@forumpost, @commentforum]) do |f| %>
    <%= f.text_area(:reply, :value => @commentforum.reply, :class => "tinymce")%>
    <%= f.submit "Update comment", class: "btn btn-primary"%>
<% end %>
