<%= form_for(@entry, local: true) do |f| %>
    <br>
    <div class="field">
        <div class ="futura-this">
            <%= f.text_field :title, class: "entry-title-field", style: 'width: 40%', :placeholder => "Title" %>
        </div>

        <div class = "entry-text-field">
            <%= f.text_area :content, placeholder: "Start typing..." %>
        </div>
        <div class="collection-field">
            <%= f.label :journal_id, 'Journal' %>
            <%= f.collection_select(:journal_id, current_user.journals.all, :id, :title) %>
        </div>
        <%= f.submit "Post", class: "btn btn-primary" %>
    </div>
<% end %>