<%= form_for @journal do |f| %>
    <br>
    <div>
        <%= f.text_area :title, placeholder: "Journal title",  :rows => 1, style: 'width:60%'%>
    </div>
    <div class="select-field">
        <%= f.label :private, 'Privacy mode' %>
        <%= f.select(:private, [['Private', true], ['Public', false]], {}, {:class => "f-select-standard"})%>
    </div>
    <%= f.submit "Create", class: "btn btn-primary" %>
<% end %>
<br>