<%= form_for (@correction) do |f| %>
    <div class = "text-field"%>
        <div class = "correction-form">
            <%= f.label :comment, "Comments (Optional)"%>
            <%= f.text_area :comment, :rows => 3, style: 'width:80%' %>
        </div>
        <%= f.submit "Submit" %>
    </div>

    <%= f.hidden_field :entry_id %>
    <%= hidden_field_tag :user_id, current_user.id%>
    <%= f.hidden_field :correct, :value => true %>
    <%= f.hidden_field :content, :value => @correction.entry.content %>

<% end %>
<%= tinymce %>