<h1>
    <%= avatar_for(current_user) %>
    <%= current_user.firstname %>
    <%= current_user.lastname %>
</h1>
<span>
<h2>
    Language: 
    <% current_user.languages.each do |l| %>
        <%= l.lang %>
    <% end %>
    <% current_user.fluencies.each do |l| %>
        <% if l.level == 1 %>
            <%= "(Beginner)" %>
        <% elsif l.level == 2 %>
            <%= "(Lower Intemediate)" %>
        <% elsif l.level == 3 %>
            <%= "(Upper Intermediate)" %>
        <% elsif l.level == 4 %>
            <%= "(Advanced)" %>
        <% else %>
            <%= "(Full Proficiency)" %>
        <%end%>
    <% end %>
    </span>
</h2>
<p>
    <%= button_to "New thread", 'forumposts/new', :method => :get %>
</p>
