    <h2>
        <%= avatar_for(user) %>
        <%=  link_to "#{user.firstname} #{user.lastname}", follower%>
    </h2>
    <span>
    <h2>
        Language: 
        <% user.languages.each do |l| %>
            <%= l.lang %>
        <% end %>
        <% user.fluencies.each do |l| %>
            <% if l.level == 1 %>
                <%= "(Beginner)" %>
            <% elsif l.level == 2 %>
                <%= "(Elementary)" %>
            <% elsif l.level == 3 %>
                <%= "(Lower Intermediate)" %>
            <% elsif l.level == 4 %>
                <%= "(Upper Intermediate)" %>
            <% elsif l.level == 5 %>
                <%= "(Advanced)" %>
            <% else %>
                <%= "(Full Proficiency)" %>
            <%end%>
        <% end %>
        </span>
    </h2>
    <p>
        <span><%= pluralize(user.entries.count, "journal entry") %></span>
        <span><%= pluralize(user.forumposts.count, "forum thread") %></span>
    </p>
