<% provide(:title, "Journal Feed") %>
<!DOCTYPE html>
    <html>
        <head>
            <title><%= full_title(yield(:title)) %></title>
        </head>
        <body>
            <div class="row">
                <aside class="col-md-4">
                    <section class="user_info">
                        <br>
                        <br>
                        <br>
                        <%= render 'shared/user_info' %>
                    </section>
                    <br>
                    <%= button_to "Create new entry", 'entries/new', :method => :get %>
                </aside>
            <div class="col-md-8">
                <h3>Journal Feed</h3>
                <% @entries.each do |entry| %>
                    <% if (entry.journal.private == false) && (entry.journal.user.temp_id == current_user.temp_id) && (entry.resolved == false) %>
                        <ol class= "entries"> 
                            <li> 
                                <div class="tiny-avatar">
                                    <%= avatar_for(entry.journal.user) %>
                                </div>
                                <div id="entry-<%= entry.id %>">
                                    <div class="entry-title"><%=link_to entry.title, entry, class: "link-colour"%></div>
                                    <div class="entry-particulars">
                                        entry by
                                        <%=  link_to "#{entry.journal.user.firstname} #{entry.journal.user.lastname}", entry.journal.user%>
                                        ·   
                                        posted <%= time_ago_in_words(entry.created_at) %> ago
                                    </div>
                                    <br>
                                    <div class="entry-content">
                                        <%= truncate(entry.content, :length => 150, :separator => ' ') %>
                                    </div>

                                    <div class="forumpost-stats">
                                        <% pre_like = entry.entrylikes.find { |like| like.user_id == current_user.id} %>
                                        <% if pre_like %>
                                            <svg width="1em" height="1em" id = "forever-red" data-toggle="tooltip" title="likes" data-container="body" viewBox="0 0 16 16" class="bi bi-heart-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                            </svg>
                                        <% else %>
                                            <svg width="1em" height="1em" id = "likes-heart" data-toggle="tooltip" title="likes" data-container="body" viewBox="0 0 16 16" class="bi bi-heart-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                            </svg>
                                        <% end %>
                                        <%= entry.entrylikes.count %>  
                                        <svg width="1em" height="1em" id = "likes" data-toggle="tooltip" title="comments" data-container="body" viewBox="0 0 16 16" class="bi bi-chat-dots-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M16 8c0 3.866-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7zM5 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                                        </svg>
                                        <span class="content"><%= entry.corrections.count %></span>
                                        <svg width="1em" height="1em" id = "likes" data-toggle="tooltip" title="views" data-container="body" viewBox="0 0 16 16" class="bi bi-eye-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                                            <path fill-rule="evenodd" d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                                        </svg>
                                        <span><%= entry.hits %></span>
                                    </div>

                                    <div class="entry-particulars">
                                        <%= link_to "view", entry %>
                                        <% if current_user == entry.journal.user %>
                                            /
                                            <%= link_to "edit", edit_entry_path(entry) %>
                                            /
                                            <% if entry.resolved == false %>
                                                <%= link_to "mark as resolved", markresolved_entry_path(entry.id) %>
                                            <% else %>
                                                <%= link_to "mark as unresolved", markresolved_entry_path(entry.id) %>
                                            <% end %>
                                            /
                                            <%= link_to "delete", entry, method: :delete,
                                            data: { confirm: "This entry will be permanently deleted." } %>
                                        <%end%>
                                    </div>
                                </div>
                            </li> 
                        </ol>
                    <%end%>
                <% end %> 
        </div>
    </div>
    </body>
</html>




