<% provide(:title, "Forum") %>
<!DOCTYPE html>
    <html>
        <head>
                <title><%= full_title(yield(:title)) %></title>
        </head>
        <body>
            <h1>forum</h1>
            <aside class="col-md-4">
            <% if logged_in? %>
                <div class="row">
                    <section class="user_info">
                        <%= render 'shared/user_info' %>
                    </section>
                    <section class="forumpost_form">
                        <%= render 'shared/forum_form' %>
                        <h3>Filter by</h3>
                        <% @forumposts.tag_counts_on(:tags).each do |tag| %>
                            <div>
                                <%= render tag %>
                                <%= puts tag.count %>
                            </div>
                        <% end %>
                    </section>
                </div>
            <% else %>
            <% end %>
            </aside>
            <div class="col-md-8">
                <% if current_user.forumposts.any? %>
                    <h3>Posts (<%= current_user.forumposts.count %>)</h3>
                    <ol class="journals">
                        <%= render @forumposts %>
                    </ol>
                    <%= will_paginate @forumposts %>
                <% end %>
          </div>
            <!-- Find me in app/views/welcome/forum.html.erb -->
        </body>
    </html>
