<% provide(:title, "Forum") %>
<!DOCTYPE html>
    <html>
        <head>
                <title><%= full_title(yield(:title)) %></title>
        </head>
        <body>
            <h1>forum</h1>
            <aside class="col-md-4">
            <% if logged_in? %>
                <div class="row">
                    <section class="user_info">
                        <%= render 'shared/user_info' %>
                    </section>
                    <section class="forumpost_form">
                        <%= render 'shared/forum_form' %>
                        <h3>Filter by</h3>
                        <% @forumpost.tag_counts_on(:tags).each do |tag| %>
                            <div>
                                <button class="tag">
                                    <%= render tag %>
                                    <%= tag.count %>
                                </button>
                            </div>
                        <% end %>
                    </section>
                </div>
            <% else %>
            <% end %>
            </aside>
            <div class="col-md-8">
                    <h3>Threads (<%= @forumposts.count %>)</h3>
                    <%= form_tag search_forumposts_path, method: :get do %>
                        <%= text_field_tag :search, nil, palceholder: "Search" %>
                        <%= submit_tag "Search", class: "btn btn-primary"%>
                    <% end %>
                    <ol class="journals">
                        <%= render @forumposts %>
                    </ol>
                    <%= will_paginate @forumposts %>
          </div>
            <!-- Find me in app/views/welcome/forum.html.erb -->
        </body>
    </html>
