<% provide(:title, "Profile") %>
<!DOCTYPE html>
<html>
    <head>
        <title><%= full_title(yield(:title)) %></title>
    </head>
    <body>
        <div class="row">
            <aside class="col-md-4">
                <section class="user_info">
                    <br>
                    <br>
                    <br>
                    <h1>
                        <%= avatar_for(current_user) %>
                        <%= current_user.firstname %>
                        <%= current_user.lastname %>
                        <div class = "edit-particulars">
                            <%= link_to "edit", edit_user_path(current_user) %>
                        </div>
                    </h1>
                    <span>
                    <h2>
                        Language: 
                        <% current_user.languages.each do |l| %>
                            <%= l.lang %>
                        <% end %>
                        <% current_user.fluencies.each do |l| %>
                            <% if l.level == 1 %>
                                <%= "(Beginner)" %>
                            <% elsif l.level == 2 %>
                                <%= "(Lower Intemediate)" %>
                            <% elsif l.level == 3 %>
                                <%= "(Upper Intermediate)" %>
                            <% elsif l.level == 4 %>
                                <%= "(Advanced)" %>
                            <% else %>
                                <%= "(Full Proficiency)" %>
                            <%end%>
                        <% end %>
                        </span>
                    </h2>
                <p>
                    <span><%= pluralize(current_user.entries.count, "journal entries") %></span>
                    <span><%= pluralize(current_user.forumposts.count, "forum threads") %></span>
                </p>
                    <br>
                    <p>
                    <% if signed_in? %>
                        <section class="stats">
                            <%= render 'shared/stats' %>
                        </section>
                        <br>
                        <%= button_to 'Sign out', sign_out_path, method: :delete %> 
                    <% end %>
                    <%= render 'users/follow_form' if logged_in? %>
                    <%= link_to "Create new entry", 'entries/new' %>
                    </p>
                </section>
            </aside>
            <div class="col-md-8">
                <% if current_user.journals.any? %>
                    <h3>Journals (<%= current_user.journals.count %>)</h3>
                    <button type="button1" id="journal-button">+</button>
                    <div id="journal-form">
                        <%= render 'shared/journal_form' %>
                    </div>
                    <ol class="journals">
                        <%= render @journals %>
                    </ol>
                    <%= will_paginate @journals %>
                <% end %>
          </div>
        </div>
    </body>
</html>
