



    <ol class= "entries"> 
        <li> 
            <div class="tiny-avatar">
                <%= avatar_for(forumpost.user) %>
            </div>
            <div id="entry-<%= forumpost.id %>">
                <div class="entry-title"><%= forumpost.title %></div>
                <div class="entry-particulars">
                    entry by
                    <%= link_to forumpost.user.lastname, forumpost.user %>
                    ·   
                    posted <%= time_ago_in_words(forumpost.created_at) %> ago
                </div>
                <br>
                <div class="entry-content">
                    <%= truncate(forumpost.content, :length => 150, :separator => ' ') %>
                </div>
                <div class="entry-particulars">
                    <%= link_to "view", forumpost %>
                    <% if current_user == forumpost.user %>
                        /
                        <%= link_to "edit", edit_forumpost_path(forumpost) %>
                        /
                        <%= link_to "delete", forumpost, method: :delete,
                        data: { confirm: "This thread will be permanently deleted." } %>
                    <%end%>
                </div>
            </div>
        </li> 
    </ol>




