</ul>
<li id="forumpost-<%= forumpost.id %>">
  <span class="user"><%= link_to forumpost.user.lastname, forumpost.user %></span>
  <h6><span class="user"><%= link_to forumpost.title, forumpost %></span></h6>
  <h6><%= render forumpost.tags %></h6>
  <span class="timestamp">
    Posted <%= time_ago_in_words(forumpost.created_at) %> ago.
    
  </span>
  <span><%= forumpost.forumpostlikes.count %> <%= (forumpost.forumpostlikes.count) == 1 || (forumpost.forumpostlikes.count) == 0? 'Like' : 'Likes'%></span>
  <span class="content">Reply count: <%= forumpost.commentforums.count %></span>
  <span>Number of views: <%= forumpost.hits %></span>
  <% if current_user == forumpost.user %>
      <%= link_to "edit", edit_forumpost_path(forumpost) %>
      <%= link_to "delete", forumpost, method: :delete,
      data: { confirm: "This thread will be permanently deleted." } %>
  <%end%>

</li>





