<html>
    <head>
        <% provide(:title, "Edit thread for: #{@forumpost.title}") %>
        <h3>Edit thread: <%= @forumpost.title %> </h3>
    </head>
    <br>
    <body>
        <%= form_with(model: @forumpost, local: true) do |f| %>
            <div class = "futura-this" %>
                <%= f.label :title, "Title" %>
                <%= f.text_field :title, class: "entry-title-field", style: 'width: 30%' %>
                <br>
            </div>
            <div class = "entry-text-field" %>
                <%= f.text_area :content, placeholder: "Start typing..." %>
            </div>
            <%= f.collection_check_boxes(:tag_list, valid_tags, :first, :first) do |b| %>
                <div class="form-check">
                <label class="tag-deco"> 
                    <span class="tag-name">
                        <%= b.check_box class: 'form-check-input' %>
                        <%= b.value %>
                    </span>  
                </label>
                </div>
              <% end %>
            <%= f.hidden_field :id %>
            <%= hidden_field_tag :user_id, current_user.id%>
            <%= f.submit "Update Thread", class: "btn btn-primary" %>
        <% end %>
    </body>
</html>