<html>
    <head>
        <% provide(:title, "edit thread for: ${@forumpost.title}") %>
        <h1>edit thread for "<%= @forumpost.title %>" </h1>
    </head>
    <body>
        <%= form_with(model: @forumpost, local: true) do |f| %>
            <div class = "text-field" %>
                <%= f.label :title, "Title" %>
                <%= f.text_area(:title)%>
            <br>
            </div>
            <div class = "text-field" %>
                <%= f.label :content %>
                <%= f.text_area(:content)%>
            </div>
            <%= f.hidden_field :id %>
            <%= hidden_field_tag :user_id, current_user.id%>
            <%= f.submit "Update Thread", class: "btn btn-primary" %>
        <% end %>
    </body>
</html>