<% provide(:title, "Forum") %>
<!DOCTYPE html>
    <html>
        <head>
                <title><%= full_title(yield(:title)) %></title>
                <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        </head>
        <body>
            <aside class="col-md-4">
            <% if logged_in? %>
                <div class="row">
                    <section class="user_info">
                        <br>
                        <br>
                        <br>
                        <%= render 'shared/user_info' %>
                    </section>
                    <br>
                    <%= button_to "CREATE NEW THREAD", 'forumposts/new', :method => :get %>
                    <section class="forumpost_form">
                    <%= form_tag search_forumposts_path, method: :get do %>
                        <%= text_field_tag :search, nil, class: "search-bar", placeholder: "Search by keywords" %>
                        <%= button_tag(type: "submit", class: "search-button") do %>
                            <svg width="1em" height="1em" id="search-icon" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.793 8 8.146 5.354a.5.5 0 0 1 0-.708z"/>
                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5H11a.5.5 0 0 1 0 1H4.5A.5.5 0 0 1 4 8z"/>
                            </svg>
                        <% end %>
                    <% end %>
                    </section>
                </div>
            <% else %>
            <% end %>
            </aside>
            <div class="col-md-8">
                <h3>Matching Threads (<%= @forumposts.count %>)</h3>
                <%= render @forumposts %>
            </div>
            <!-- Find me in app/views/welcome/forum.html.erb -->
        </body>
    </html>
