<!DOCTYPE html>
    <html>
        <head>
            <title><%= full_title(yield(:title)) %></title>
        </head>

    <% provide(:title, @journal.title) %>
    <div class="row">
        <aside class="col-md-4">
            <section class="journal_info">
                <div class="journal-title">
                    <%= @journal.title %>
                    <% if @journal.private %>
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-lock-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.5 9a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-7a2 2 0 0 1-2-2V9z"/>
                            <path fill-rule="evenodd" d="M4.5 4a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z"/>
                        </svg>
                    <% else %> 
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-unlock-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M.5 9a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-7a2 2 0 0 1-2-2V9z"/>
                            <path fill-rule="evenodd" d="M8.5 4a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z"/>
                        </svg>
                    <% end %>
                </div>
                <section class="user_info">
                    <h1>
                        <%= avatar_for(@journal.user)%>
                        <%=  link_to "#{@journal.user.firstname} #{@journal.user.lastname}", 
                            @journal.user%>
                    </h1>
                    <span>
                        <h2>
                            Language: 
                            <% @journal.user.languages.each do |l| %>
                                <%= l.lang %>
                            <% end %>
                            <% @journal.user.fluencies.each do |l| %>
                                <% if l.level == 1 %>
                                    <%= "(Beginner)" %>
                                <% elsif l.level == 2 %>
                                    <%= "(Lower Intemediate)" %>
                                <% elsif l.level == 3 %>
                                    <%= "(Upper Intermediate)" %>
                                <% elsif l.level == 4 %>
                                    <%= "(Advanced)" %>
                                <% else %>
                                    <%= "(Full Proficiency)" %>
                                <%end%>
                            <% end %>
                        </h2>
                    </span>
                    <p>
                        <span><%= pluralize(@journal.user.entries.count, "journal entries") %></span>
                        <span><%= pluralize(@journal.user.forumposts.count, "forum threads") %></span>
                    </p>
                </section>
            </section>
            <% if @journal.user == current_user %>
                <%= button_to "Create new entry", entries_path, :method => :get %>
            <%end%>
        </aside>
    <div class="col-md-8">
    <br>
        <% if @journal.entries.any? %>
            <h3>Entries (<%= @journal.entries.count %>)</h3>
            <ol class="entries">
                <%= render @entries %>
            </ol>
        <%= will_paginate @entries %>
        <% end %>
    </div>
    </div>
</html>


