<div id="correction-<%= correction.id %>">
<li style="padding-bottom:1em">
    <% if correction.correct %>
        <br>
        <div class="correction-content">
            <%= "This entry is perfect! No correction needed." %>
        </div>
        <br>
    <% else %>
        <span class="content"><%= correction.content.html_safe %></span>
    <%end%>
    <% if !correction.comment.blank? %>
        <div class="correction-content">
            Comments: 
            <%= correction.comment %>
        </div>
    <% end %>
    <div class="correction-particulars">
        Correction by
        <%=  link_to "#{correction.user.firstname} #{correction.user.lastname}", correction.user%>
        <%= time_ago_in_words(correction.created_at) %> ago.
        <br>
        <% if current_user == correction.user %>
            <%= link_to "edit", edit_correction_path(correction) %> /
            <%= link_to "delete", correction, method: :delete,
            data: { confirm: "This correction will be permanently deleted." } %>
        <%end%>
    </div>
</li>