<div id="correction-<%= correction.id %>">
<li style="padding-bottom:1em">
    <% if correction.correct %>
        <div class="correction-content" id="no-choice">
            <%= "This entry is perfect! No correction needed." %>
        </div>
        <br>
    <% else %>
        <% if correction.accepted %>
            <svg width="1em" height="1em" id="resolved-icon-2" data-toggle="tooltip" title="Correction is accepted by author" data-container="body" viewBox="0 0 16 16" class="bi bi-check-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </svg>
        <%end%>
        <span class="correction-content">
            <%= raw getDiff(correction.content, correction.entry.content, correction.user.temp_id) %>
        </span>
    <%end%>
    <% if !correction.comment.blank? %>
        <div class="correction-content" id="no-choice">
            <br>
            Comments: 
            <%= markdown(correction.comment) %>
        </div>
    <% end %>
    <div class="correction-particulars">
        <div id="no-choice">
            <% if current_user == correction.entry.journal.user %>
                <% if correction.accepted == true %>
                    <%= link_to "unaccept correction", markaccepted_correction_path(correction.id) %>
                <% else %>
                    <%= link_to "accept correction", markaccepted_correction_path(correction.id) %>
                <% end %>      
            <% end %>
        </div>
        <div id="no-choice">
            <% if current_user == correction.user %>
                <%= link_to "edit", edit_correction_path(correction) %> /
                <%= link_to "delete", correction, method: :delete,
                data: { confirm: "This correction will be permanently deleted." } %>
            <%end%>
        </div>
        <br>
        <div class="tiny-avatar">
            <%= tiny_blank_avatar_for(correction.user) %>
        </div>
        <div class="beside-avatar">
            <%=  link_to "#{correction.user.firstname} #{correction.user.lastname}", correction.user%> 
            <% case correction.user.points %>
                <% when 0...5 %>
                    <svg width="1em" height="1em" viewBox="0 0 16 16" id="level1" class="bi bi-award-fill" data-toggle="tooltip" title="seed" data-container="body" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8 0l1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864 8 0z"/>
                        <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"/>
                    </svg>
                <% when 5...10 %>
                    <svg width="1em" height="1em" viewBox="0 0 16 16" id="level2" class="bi bi-award-fill" data-toggle="tooltip" title="sprout" data-container="body" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8 0l1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864 8 0z"/>
                        <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"/>
                    </svg>
                <% when 10...25 %>
                    <svg width="1em" height="1em" viewBox="0 0 16 16" id="level3" class="bi bi-award-fill" data-toggle="tooltip" title="seedling" data-container="body" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8 0l1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864 8 0z"/>
                        <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"/>
                    </svg>
                <% when 25...50 %>
                    <svg width="1em" height="1em" viewBox="0 0 16 16" id="level4" class="bi bi-award-fill" data-toggle="tooltip" title="sapling" data-container="body" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8 0l1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864 8 0z"/>
                        <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"/>
                    </svg>
                <% else %>
                    <svg width="1em" height="1em" viewBox="0 0 16 16" id="level5" class="bi bi-award-fill" data-toggle="tooltip" title="tree" data-container="body" class="bi bi-trophy" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3 1h10c-.495 3.467-.5 10-5 10S3.495 4.467 3 1zm0 15a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1H3zm2-1a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1H5z"/>
                        <path fill-rule="evenodd" d="M12.5 3a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-3 2a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm-6-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-3 2a3 3 0 1 1 6 0 3 3 0 0 1-6 0z"/>
                        <path d="M7 10h2v4H7v-4z"/>
                        <path d="M10 11c0 .552-.895 1-2 1s-2-.448-2-1 .895-1 2-1 2 .448 2 1z"/>
                    </svg>
            <% end %>
             ·
            <%= time_ago_in_words(correction.created_at) %> ago.
            <% pre_like = correction.correctionlikes.find { |like| like.user_id == current_user.id} %>
            <div>
                <% if pre_like %>
                    <%= link_to correction_correctionlike_path(correction, pre_like), method: :delete do %>
                        <svg width="1em" height="1em" viewBox="0 0 16 16" id = "unlike-heart" data-toggle="tooltip" title="unlike" data-container="body" class="bi bi-heart-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                        </svg>
                    <% end %>
                <% else %>
                    <%= link_to correction_correctionlikes_path(correction), method: :entry do %>
                        <svg width="1em" height="1em" viewBox="0 0 16 16" id = "like-heart" data-toggle="tooltip" title="like" data-container="body" class="bi bi-heart-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                        </svg>
                    <% end %>
                <% end %>
                <%= correction.correctionlikes.count %> 
            </div>
        </div>
    </div>
    <br>
</li>