<div id="correction-<%= correction.id %>">
<li>
    <span class="content"><%= correction.content %></span>
    <span class="comment"><%= correction.comment %></span>
    <br>
    <% if correction.correct %>
        <%= "This entry is perfect! No correction needed." %>
        <br>
    <%end%>
    <span class="timestamp">
        Correction posted by
        <%=  link_to "#{correction.user.firstname} #{correction.user.lastname}", correction.user%>
        <%= time_ago_in_words(correction.created_at) %> ago.
    </span>
</li>