<!DOCTYPE html>
<html>
  <head>
    <title>Pollen</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar">

      <div class="container">
        <%=link_to "Pollen.", root_path, id: "logo" %>
        <nav class = .bg-transparent>
          <u1 class = "nav navbar-nav navbar-right" %>
            <li><%=link_to "HOME", root_path, id: "headerelements" %></li>
            <li><%=link_to "FORUM", forum_path, id: "headerelements"%></li>
            <li><%=link_to "FEED", feed_path, id: "headerelements" %></li>
            <li><%=link_to "PROFILE", profile_path, id: "headerelements" %></li>
          </u1>
        </nav>
      </div>

    </header>

  <section>
    <div id="flash">
    <% flash.each do |key, value| %>
      <div class="flash <%= key %>"><%= value %></div>
    <% end %>
    </div>
    <%= yield %>
  </section>
  </body>
</html>
