<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar">
      <div class="container">
      <%=link_to "Pollen.", root_path, id: "logo" %>
        <nav class = .bg-transparent>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <u1 class = "nav navbar-nav navbar-right" %>
              <li class="<%= 'active' if current_page?(root_path) %>"><%=link_to "HOME", root_path, id: "headerelements" %></li>
              <li class="<%= 'active' if current_page?(forum_path) %>"><%=link_to "FORUM", forum_path, id: "headerelements"%></li>
              <li class="<%= 'active' if current_page?(feed_path) %>"><%=link_to "FEED", feed_path, id: "headerelements" %></li>
              <li class="<%= 'active' if current_page?(profile_path) %>"><%=link_to "PROFILE", profile_path, class: "btn btn-lg btn-primary" %></li>
            </u1>
          </div>
        </nav>
      </div>
    </header>
  <section>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="<%= flash_class(key) %>">
          <div class="nice-flash">
            <%= value %>
          </div>
        </div>
      <% end %>
      <%= yield %>
      
    </div>
  </section>
  </body>
  <%= debug(params) if Rails.env.development? %>
</html>
